.header{
  height: 55px;
  display:flex; 
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  background-color: white;
  border-bottom-width:1px ;
  border-bottom-style: solid;
  border-bottom-color: rgb(228,228,228);
  z-index:100;
}
.left-section{
  display: flex;
  align-items: center;
}
.ham-menu{
  height: 25px;
  margin-left: 24px;
  margin-right: 20px
}
.yt-logo{
  height: 20px;
}
.mid-section{
  flex:1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 300px;
  display: flex;
  align-items: center;
}
.search-box{
  flex:1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-box::placeholder{
  font-size: 16px;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.app-icon-container,
.notif-icon-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(241, 241, 241);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 8px;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.app-icon-container .tooltip,
.notif-icon-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom:-30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.app-icon-container:hover .tooltip,
.notif-icon-container:hover .tooltip{
  opacity: 1;
}
.search-icon{
  height: 25px;
}
.voice-search-button{
  height: 40px;
  width: 45px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}
.voice-icon{
  height: 24px;
}
.right-section{
  width:180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload-icon{
  height: 24px;
}
.yt-apps-icon{
  height: 24px;
}
.notifs-icon{
  height: 24px;
}
.notif-icon-container{
  position:relative;
}
.notif-count{
  position:absolute;
  top:-2px;
  right:-5px;
  background-color: rgb(199, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
.i-am-batman{
  height: 35px;
  width: 35px;
  border-radius: 50px;
}